h1 Let's ping to World!!!

form(action="/ping", method="post")
    input(type="text", name="addr" placeholder="Enter Address to PING!" required=true)
    input(type="submit", value="SHOT!")

h4 OutPut
.code_box
    p #{Codes}
